.casitodito {
    margin-top: 2rem;
    margin-left: 32.5rem;
    position: relative;
    z-index: 1000;
  }
  .aureola {
    background-color: none;
    width: 23rem;
    height: 4rem;
    border-radius: 50%;
    border: 5px solid #FBD667;
    box-shadow: 10px 8px 109px 19px #FFEAAA;
  }
  .extra {
    border: transparent;
    position: relative;
    width: 20rem;
    height: 2rem;
    bottom: 3.5rem;
    left: 2rem;
  }
  
  .todito {
    margin-left: 30rem;
  }
  
  .cabezaH{
      width: 15rem;
      height: 28rem;
      position: relative;
      top: 6.5rem;
      left: 7.5rem;
      background-color: #F2F521 ;
      border-radius: 5rem 5rem 0rem 0rem;
      border: 1px solid black;
                
  } 
  .oreja{
      background-color: #F2F521;
      width: 5rem;
      height: 5rem;
      border-radius: 7rem 7rem 7rem 7rem;
      position: relative;
      top: 12rem;
      left: -2rem;
      border: 0.5px solid yellow;
      z-index: 190;
  }
  .parche{
    background-color: #522F02;
    width: 2.5rem;
    height: 13rem;
    position: relative;
    bottom: 11rem;
    left: 1.8rem;
    border-radius: 0rem 10rem 2rem 2rem;
    z-index: 130;
    
    
  }
  .interiororeja{
    border-left: solid 3px #000;
    width: 1rem;
    height: 2rem;
    position: relative;
    bottom: 8.5rem;
    left: -0.5rem;
    border-radius: 50%;
    transform: rotate(100deg);
    z-index: 200;
   
  }
  
  .ojouno {
      background-color: white;
      width: 7rem;
      height: 7rem;
      border-radius: 7rem 7rem 7rem 7rem;
      position: relative;
      top: 1rem;
      left: 3rem;
      border: 2px solid black;
      z-index: 210;
  
  }
  .ojodos {
      background-color: white;
      width: 7rem;
      height: 7rem;
      border-radius: 7rem 7rem 7rem 7rem;
      position: relative;
      bottom: 6rem;
      left: 10rem;
      border: 2px solid black;
    z-index: 80;
  
  }
  .nariz{
      background-color: #F2F521;
      width: 5rem;
      height: 3rem;
      border-radius: 0rem 1rem 1rem 1rem;
      border-top: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      position: relative;
      bottom: 7rem;
      left: 9rem;
      z-index: 90;
  }
  .irisuno{
      background-color: #000;
      width: 1rem;
      height: 1rem;
      border-radius: 1rem 1rem 1rem 1rem;
      position: relative;
      top: 3.5rem;
      left: 5rem;
  }
  .irisdos{
     background-color: #000;
      width: 1rem;
      height: 1rem;
      border-radius: 1rem 1rem 1rem 1rem;
      position: relative;
      top: 3.5rem;
      left: 5rem;
  }
  .bigote{
      width: 13rem;
      height: 5rem;
      position: relative;
      bottom: 10rem;
      left: 4.5rem;
      background-color: #522F02;
      border-radius:10rem 10rem 0rem 0rem;
      z-index: 10;
  }
  
  .bocaA{
      width: 12rem;
      height: 3rem;
      position: relative;
      bottom: 10rem;
      left: 4rem;
      background-color:  #F2F521;
      border-radius:  0rem 1rem 1rem 1rem;
      border-top: 1px solid black;
      border-right: 1px solid black;
   }
  .pelocostado{
      width: 20rem;
      height: 4rem;
      position: relative;
      bottom: 25rem;
      left: -12rem;
      border-radius:0rem 0rem 10rem 5rem ;
      background-color: #522F02;
      transform: rotate(90deg); 
      z-index: 130;
    
  }
  .peloarriba{
      width: 20rem;
      height: 9rem;
      position: relative;
      bottom: 43.5rem;
      left: -4rem;
      background-color: #522F02;
      border-radius: 5rem 0rem 10rem 5rem;
      border-top: 2px solid #522F02;
      border-right: 1px solid #522F02;
      transform: rotate(180deg)  
   }
  
  .patillalente{
    width: 8rem;
    height: 0.1rem;
    background-color: #000;
    position: relative;
    bottom: 36rem;
    left: -0.5rem;  
    border-radius: 0rem 0rem 0rem 0rem;
    z-index: 200;
    transform: rotate(-25deg);
  }
  .frente{
      width: 14rem;
      height: 8rem;
      position: relative;
      bottom: 48rem;
      left: 1rem;
      background-color: #F2F521;
      border-radius: 0rem 0rem 5rem 5rem;
      transform: rotate(180deg);
      z-index: 50;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
    
  }
  .ceja{
    
      background-color: #F2F521;
      width: 5rem;
      height: 3rem;
      border-radius: 0rem 1rem 1rem 1rem;
      position: relative;
      bottom: 49.5rem;
      left: 11rem;
      border-right: 0.2px solid black;
      z-index: 70;
     
  }
  .loquefalta{
      background-color: #522F02;
      width: 3rem;
      height: 7rem;
      border-radius: 0rem 1rem 1rem 1rem;
      position: relative;
      bottom: 60rem;
      left: -0.35rem;
      z-index: 70;
      transform: rotate(6deg)
     
  }
  .ropacuello{
        width: 18rem;
        height: 4rem;
        background: black ;       
        border-radius: 2rem 2rem 0rem 0rem;
        position: relative;
        bottom: 36.2rem;
        left: -1.5rem;
        z-index:90;
    
  }
  
  .cuelloizquierdo{
    background-color: white;
       width: 5rem;
        height: 4rem;
        /*border-top: 3rem solid transparent;
        border-left: 6rem solid*/ /*#EF5A89*/ /* #d22d62;
        border-bottom: 4.5rem solid transparent;*/
        position: relative;
        bottom: 42.3rem;
        left: 8rem;
        /*transform: rotate(270deg);*/
        z-index: 90; 
    
  }
  
  .comisuraboca{
    border-left: solid 2px #000;
    width: 0.5rem;
    height: 2rem;
    position: relative;
    bottom: 49.5rem;
    left: 4rem;
    border-radius: 50%;
    transform: rotate(1deg);
    z-index: 100;
   
  }
  
  .raya {
    width: 20rem;
      height: 9rem;
      position: relative;
      border-radius: 5rem 0rem 10rem 5rem;
      border-left: 1px solid #342006;
      transform: rotate(180deg)
  }
  .uno {
    bottom: 80.6rem;
    right: 6rem;
  }
  .dos {
    bottom: 89.6rem;
    right: 8.5rem;
  }
  .tres {
    bottom: 98.6rem;
    right: 11rem;
  }
  .cuatro {
    bottom: 107.4rem;
    right: 13.5rem;
  }
  .cinco {
    bottom: 115rem;
    right: 16rem;
  }
  
  .bigot {
    width: 13rem;
      height: 5rem;
      position: relative;
    border-right: 1px solid #342006;
      border-radius:10rem 10rem 0rem 0rem;
      z-index: 11;
  }
  .bigotee {
    width: 13rem;
      height: 5rem;
      position: relative;
    border-left: 1px solid #342006;
      border-radius:10rem 10rem 0rem 0rem;
      z-index: 11;
  }
  .uuno {
    bottom: 104.4rem;
    left: 3rem;
  }
  .ddos {
    bottom: 109.4rem;
    left: 2rem;
  }
  .ttres {
    bottom: 114.4rem;
    left: 6rem;
  }
  .ccuatro {
    bottom: 119.4rem;
    left: 7rem;
  }